<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <center>My Gallery</center> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="gallery">
  <a target="_blank">
    <img src="assets/img/Pic1.jpg" alt="Coudnt load image" width="600" height="400">
   </a>
</div>
<div class="gallery">
    <a target="_blank">
      <img src="assets/img/Pic2.jpg" alt="Coudnt load image" width="600" height="400">
     </a>
  </div>
  <div class="gallery">
      <a target="_blank">
        <img src="assets/img/Pic3.jpg" alt="Coudnt load image" width="600" height="400">
       </a>
    </div>
    <div class="gallery">
        <a target="_blank">
          <img src="assets/img/Pic4.jpg" alt="Coudnt load image" width="600" height="400">
         </a>
      </div>
    <div class="gallery">
        <a target="_blank">
          <img src="assets/img/Pic5.jpg" alt="Coudnt load image" width="600" height="400">
        </a>
        </div>
    <div class="gallery">
        <a target="_blank">
          <img src="assets/img/Pic6.jpg" alt="Coudnt load image" width="600" height="400">
        </a>
    </div>
      <div class="gallery">
          <a target="_blank">
            <img src="assets/img/Pic15.jpg" alt="Coudnt load image" width="600" height="400">
           </a>
        </div>
        <div class="gallery">
            <a target="_blank">
              <img src="assets/img/Pic9.jpg" alt="Coudnt load image" width="600" height="400">
             </a>
          </div>
      <div class="gallery">
          <a target="_blank">
            <img src="assets/img/Pic10.jpg" alt="Coudnt load image" width="600" height="400">
          </a>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="assets/img/Pic11.jpg" alt="Coudnt load image" width="600" height="400">
        </a>
    </div>
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/Pic12.jpg" alt="Coudnt load image" width="600" height="400">
      </a>
    </div>
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/Pic13.jpg" alt="Coudnt load image" width="600" height="400">
      </a>
    </div>
  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/Pic14.jpg" alt="Coudnt load image" width="600" height="400">
    </a>
  </div>
  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/Pic8.jpg" alt="Coudnt load image" width="600" height="400">
    </a>
</div>
          

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
